/* General Styling Start */

* {
    --primaryColor: darkblue;
    --secondaryColor: blueviolet;
    --shadow: rgba(100, 100, 111, 0.2) 3px 3px 10px 0px;
}
body {
    font-family: Roboto, serif;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: 1rem auto;
    
}
@media screen and (min-width: 800px) {
    main {
        max-width: 50%;
    } 
}
h1 {
    margin: 2rem 1rem 1rem 1rem;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}
h2 {
    font-size: 1.25rem;
    margin: 1rem;
    line-height: 1.5;
    text-align: center;
}
button {
    line-height: 1.5;
    font-size: 1rem;
    padding: .75rem 2rem;
    background: var(--primaryColor);
    color: white;
    border-radius: 7px;
    box-shadow: var(--shadow);
}
button:hover {
    background: var(--secondaryColor);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* General Styling End */

/* Header Styling Start */
.high-scores:hover {
    cursor: pointer;
    color: var(--secondaryColor);
}

/* Header Styling End */

/* Quiz Styling Start */

.question-ans-container {
    display: flex;
    flex-direction: column;
    
}
.questionChoice {
    margin: 0.5rem;
}

/* Quiz Styling End */

/* Score Submit Styling Start */

.initials-input {
    margin: 1rem;
    font-size: 1.25rem;
    border-radius: 7px;
    text-align: center;
    padding: 0.25rem;
    box-shadow: var(--shadow)
}
.submit { 
    font-size: 1rem;
    padding: .9rem 2.75rem;
    background: var(--primaryColor);
    color: white;
    border-radius: 7px;
    box-shadow: var(--shadow)

}
.submit:hover {
    background: var(--secondaryColor);
}

/* Score Submit Styling End */

/* Score Display Styling Start */
.high-scores-title {
    font-size: 2rem;
    font-weight: bold;
}
.scores-list {
    display: flex;
    flex-direction: column;
    border: 1px var(--primaryColor) solid;
    padding: 1rem;
    border-radius: 7px;
    justify-content: center;
    align-items: baseline;
    box-shadow: var(--shadow);
}
.list-item {
    font-size: 1.25rem;
}
/* Score Display Styling End */